#banner{
  width:100%;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;


}
#banner img{
  z-index: -99;
  opacity: 0.9;
}

.apptitle {
   color: #ffffff;
   position: absolute;
   top: 20px;
   left: 25%;
   margin-left: 20px;




}
.apptitle h1{

  font-size: 80px;

}
