body{
  font-family: 'Permanent Marker', cursive;
}
/*Header styling*/
#banner{
  width:100%;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;


}
#banner img{
  z-index: -99;
  opacity: 0.9;
}
.apptitle {
   color: #ffffff;
   position: absolute;
   top: 20px;
   left: 18%;
   margin-left: 20px;

}
.apptitle h1{
  font-size: 5em;
}


/*body styling*/
ul{
  list-style: none;
}
p{
  background-color: yellow;
  border-radius: 10px;
  width: 300px;
}
.form-control{
  height: 50px;
}

#input{
  width : 80%;
  margin: 0 auto;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
}

.btn{
  width: 80%;
  margin: 0 auto;
  background-color: #005B32;
  font-weight: bold;
  font-size: 25px;
  color: #fff;
}
